<h1>Course Info</h1>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @course.institution %>
</p>

<%= link_to 'Back to all Courses', courses_path %>